In [1]:
import pandas as pd
import os

In [167]:
## Read in Accident CSV file
file = os.path.join("..","Raw_files", "FARS1998NationalCSV","ACCIDENT.csv")

In [168]:
# create dataFrame and load in data from CSV file
df = pd.read_csv(file, encoding="ISO-8859-1")

In [169]:
## Create a new dataFrame for just Texas cases since data is over 100k rows
tx_df = df.loc[df['STATE'] == 48]
# tx_df.head()

In [170]:
# tx_df.columns

In [171]:
## Dropping Unneccesary Columns
clean = tx_df.drop(columns=['STATE', 'VE_FORMS',  'PEDS', 'PERSONS', 'COUNTY', 'CITY', 'DAY', 'MINUTE', 'NHS', 'ROUTE', 'TWAY_ID',  'MILEPT', 'SP_JUR', 
    'HARM_EV', 'MAN_COLL',  'REL_ROAD', 'LGT_COND', 'SCH_BUS', 'RAIL', 'NOT_HOUR', 'NOT_MIN', 'ARR_HOUR','ARR_MIN', 'HOSP_HR', 'HOSP_MN', 'CF1', 'CF2', 'CF3', 'FATALS','DRUNK_DR', 'ROAD_FNC',
                           'REL_JUNC', 'TRAF_FLO', 'NO_LANES', 'SP_LIMIT','ALIGNMNT', 'PROFILE', 'PAVE_TYP', 'SUR_COND', 'TRA_CONT', 'T_CONT_F',
                           'HIT_RUN','C_M_ZONE'])
# 'RUR_URB', 'FUNC_SYS','RD_OWNER','PVH_INVL','PERNOTMVIT', 'PERMVIT','RELJCT1', 'RELJCT2','WRK_ZONE','WEATHER1', 'WEATHER2','VE_TOTAL','TWAY_ID2',
# clean.head()

In [172]:
## Check new DF to ensure file read accurately
clean

       MONTH  HOUR  WEATHER  DAY_WEEK  ST_CASE  YEAR
31028      1     3        2         5   480001  1998
31029      1     0        1         5   480002  1998
31030      1    18        1         5   480003  1998
31031      1     5        2         5   480004  1998
31032      1     2        1         5   480005  1998
31033      1    13        1         5   480006  1998
31034      1     4        1         6   480007  1998
31035      1    11        2         6   480008  1998
31036      1    23        1         6   480009  1998
31037      1    18        1         7   480010  1998
31038      1    14        1         7   480011  1998
31039      1    20        1         7   480012  1998
31040      1    18        1         7   480013  1998
31041      1     2        1         7   480014  1998
31042      1    18        1         7   480015  1998
31043      1    22        1         7   480016  1998
31044      1     0        1         1   480017  1998
31045      1    11        1         1   480018  1998
31046      1     9        2         1   480019  1998
31047      1    23        5         1   480020  1998
31048      1    19        2         1   480021  1998
31049      1    15        2         1   480022  1998
31050      1     2        5         1   480023  1998
31051      1    11        2         1   480024  1998
31052      1    16        2         1   480025  1998
31053      1    10        1         1   480026  1998
31054      1    10        5         1   480027  1998
31055      1    18        2         1   480028  1998
31056      1     6        2         1   480029  1998
31057      1    22        1         2   480030  1998
...      ...   ...      ...       ...      ...   ...
34166     10    17        1         4   483143  1998
34167     10    18        1         1   483144  1998
34168     10     3        5         5   483145  1998
34169     11    19        1         3   483146  1998
34170     11    17        1         6   483147  1998
34171     11     2        1         5   483148  1998
34172     11    22        1         7   483149  1998
34173     12    21        1         4   483150  1998
34174     12    21        1         1   483151  1998
34175     12     2        1         6   483152  1998
34176     12     2        1         1   483153  1998
34177     12    17        1         2   483154  1998
34178     12    10        1         4   483155  1998
34179     12     6        1         5   483156  1998
34180     11    16        1         3   483157  1998
34181     12    10        1         4   483158  1998
34182     12    17        1         1   483159  1998
34183      8    17        1         2   483160  1998
34184      8    18        1         6   483161  1998
34185     11    16        2         6   483162  1998
34186     12    15        1         1   483163  1998
34187      9    14        1         6   483164  1998
34188     11    17        1         5   483165  1998
34189      6    17        1         5   483166  1998
34190      7    21        1         6   483167  1998
34191     10    10        1         2   483168  1998
34192     12    14        1         4   483169  1998
34193     12    12        1         7   483170  1998
34194     11     3        1         5   483171  1998
34195     10    11        1         3   483172  1998

[3168 rows x 6 columns]

In [173]:
## Create new CSV with cleaned TX data
clean.to_csv('../Cleaned/Accident/1998_Accident.csv', index=False)