## FARS Data Format (Person file)

In [1]:
#Load dependencies
import os
import pandas as pd

In [14]:
# Path to files
person_2018 = os.path.join("..", "Raw_files","FARS2018NationalCSV", "PERSON.csv")
person_2017 = os.path.join("..", "Raw_files","FARS2017NationalCSV", "PERSON.csv")
person_2016 = os.path.join("..", "Raw_files","FARS2016NationalCSV", "PERSON.csv")
person_2015 = os.path.join("..", "Raw_files","FARS2015NationalCSV", "PERSON.csv")
person_2014 = os.path.join("..", "Raw_files","FARS2014NationalCSV", "PERSON.csv")
person_2013 = os.path.join("..", "Raw_files","FARS2013NationalCSV", "PERSON.csv")
person_2012 = os.path.join("..", "Raw_files","FARS2012NationalCSV", "PERSON.csv")
person_2011 = os.path.join("..", "Raw_files","FARS2011NationalCSV", "PERSON.csv")
person_2010 = os.path.join("..", "Raw_files","FARS2010NationalCSV", "PERSON.csv")
person_2009 = os.path.join("..", "Raw_files","FARS2009NationalCSV", "PERSON.csv")
person_2008 = os.path.join("..", "Raw_files","FARS2008NationalCSV", "PERSON.csv")
person_2007 = os.path.join("..", "Raw_files","FARS2007NationalCSV", "PERSON.csv")
person_2006 = os.path.join("..", "Raw_files","FARS2006NationalCSV", "PERSON.csv")
person_2005 = os.path.join("..", "Raw_files","FARS2005NationalCSV", "PERSON.csv")
person_2004 = os.path.join("..", "Raw_files","FARS2004NationalCSV", "PERSON.csv")
person_2003 = os.path.join("..", "Raw_files","FARS2003NationalCSV", "PERSON.csv")
person_2002 = os.path.join("..", "Raw_files","FARS2002NationalCSV", "PERSON.csv")
person_2001 = os.path.join("..", "Raw_files","FARS2001NationalCSV", "PERSON.csv")
person_2000 = os.path.join("..", "Raw_files","FARS2000NationalCSV", "PERSON.csv")
person_1999 = os.path.join("..", "Raw_files","FARS1999NationalCSV", "PERSON.csv")
person_1998 = os.path.join("..", "Raw_files","FARS1998NationalCSV", "PERSON.csv")

In [15]:
# Read csv
person_2018_df=pd.read_csv(person_2018)
person_2017_df=pd.read_csv(person_2017)
person_2016_df=pd.read_csv(person_2016)
person_2015_df=pd.read_csv(person_2015)
person_2014_df=pd.read_csv(person_2014)
person_2013_df=pd.read_csv(person_2013)
person_2012_df=pd.read_csv(person_2012)
person_2011_df=pd.read_csv(person_2011)
person_2010_df=pd.read_csv(person_2010)
person_2009_df=pd.read_csv(person_2009)
person_2008_df=pd.read_csv(person_2008)
person_2007_df=pd.read_csv(person_2007)
person_2006_df=pd.read_csv(person_2006)
person_2005_df=pd.read_csv(person_2005)
person_2004_df=pd.read_csv(person_2004)
person_2003_df=pd.read_csv(person_2003)
person_2002_df=pd.read_csv(person_2002)
person_2001_df=pd.read_csv(person_2001)
person_2000_df=pd.read_csv(person_2000)
person_1999_df=pd.read_csv(person_1999)
person_1998_df=pd.read_csv(person_1998)

In [9]:
person_2018_df

,STATE,ST_CASE,VE_FORMS,VEH_NO,PER_NO,STR_VEH,COUNTY,DAY,MONTH,HOUR,...,DEATH_TM,LAG_HRS,LAG_MINS,P_SF1,P_SF2,P_SF3,WORK_INJ,HISPANIC,RACE,LOCATION
0,1,10001,1,1,1,0,121,5,1,6,...,600,0,0,0,0,0,1,7,2,0
1,1,10002,1,1,1,0,127,8,1,0,...,48,0,0,0,0,0,0,7,2,0
2,1,10002,1,1,2,0,127,8,1,0,...,48,0,0,0,0,0,0,7,2,0
3,1,10003,2,1,1,0,21,8,1,22,...,2250,0,0,0,0,0,0,7,1,0
4,1,10003,2,2,1,0,21,8,1,22,...,8888,999,99,0,0,0,8,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83621,56,560099,1,1,1,0,1,11,12,18,...,1847,0,2,0,0,0,0,7,2,0
83622,56,560100,1,1,1,0,13,22,10,13,...,1420,0,46,0,0,0,0,7,3,0
83623,56,560100,1,1,2,0,13,22,10,13,...,8888,999,99,0,0,0,8,0,0,0
83624,56,560101,2,1,1,0,13,9,11,18,...,1821,0,18,0,0,0,0,7,3,0
83625,56,560101,2,2,1,0,13,9,11,18,...,8888,999,99,0,0,0,8,0,0,0