## Deleting duplicates

In [1]:
import os
import pandas as pd
from functools import reduce

In [2]:
# Import previously cleaned files
# Accidents
accident_2018 = os.path.join("..", "Cleaned","Accident", "2018_Accident.csv")
accident_2017 = os.path.join("..", "Cleaned","Accident", "2017_Accident.csv")
accident_2016 = os.path.join("..", "Cleaned","Accident", "2016_Accident.csv")
accident_2015 = os.path.join("..", "Cleaned","Accident", "2015_Accident.csv")
accident_2014 = os.path.join("..", "Cleaned","Accident", "2014_Accident.csv")
accident_2013 = os.path.join("..", "Cleaned","Accident", "2013_Accident.csv")
accident_2012 = os.path.join("..", "Cleaned","Accident", "2012_Accident.csv")
accident_2011 = os.path.join("..", "Cleaned","Accident", "2011_Accident.csv")
accident_2010 = os.path.join("..", "Cleaned","Accident", "2010_Accident.csv")
accident_2009 = os.path.join("..", "Cleaned","Accident", "2009_Accident.csv")
accident_2008 = os.path.join("..", "Cleaned","Accident", "2008_Accident.csv")
accident_2007 = os.path.join("..", "Cleaned","Accident", "2007_Accident.csv")
accident_2006 = os.path.join("..", "Cleaned","Accident", "2006_Accident.csv")
accident_2005 = os.path.join("..", "Cleaned","Accident", "2005_Accident.csv")
accident_2004 = os.path.join("..", "Cleaned","Accident", "2004_Accident.csv")
accident_2003 = os.path.join("..", "Cleaned","Accident", "2003_Accident.csv")
accident_2002 = os.path.join("..", "Cleaned","Accident", "2002_Accident.csv")
accident_2001 = os.path.join("..", "Cleaned","Accident", "2001_Accident.csv")
accident_2000 = os.path.join("..", "Cleaned","Accident", "2000_Accident.csv")
accident_1999 = os.path.join("..", "Cleaned","Accident", "1999_Accident.csv")
accident_1998 = os.path.join("..", "Cleaned","Accident", "1998_Accident.csv")

# Person
person_2018 = os.path.join("..", "Cleaned","Person", "person_2018.csv")
person_2017 = os.path.join("..", "Cleaned","Person", "person_2017.csv")
person_2016 = os.path.join("..", "Cleaned","Person", "person_2016.csv")
person_2015 = os.path.join("..", "Cleaned","Person", "person_2015.csv")
person_2014 = os.path.join("..", "Cleaned","Person", "person_2014.csv")
person_2013 = os.path.join("..", "Cleaned","Person", "person_2013.csv")
person_2012 = os.path.join("..", "Cleaned","Person", "person_2012.csv")
person_2011 = os.path.join("..", "Cleaned","Person", "person_2011.csv")
person_2010 = os.path.join("..", "Cleaned","Person", "person_2010.csv")
person_2009 = os.path.join("..", "Cleaned","Person", "person_2009.csv")
person_2008 = os.path.join("..", "Cleaned","Person", "person_2008.csv")
person_2007 = os.path.join("..", "Cleaned","Person", "person_2007.csv")
person_2006 = os.path.join("..", "Cleaned","Person", "person_2006.csv")
person_2005 = os.path.join("..", "Cleaned","Person", "person_2005.csv")
person_2004 = os.path.join("..", "Cleaned","Person", "person_2004.csv")
person_2003 = os.path.join("..", "Cleaned","Person", "person_2003.csv")
person_2002 = os.path.join("..", "Cleaned","Person", "person_2002.csv")
person_2001 = os.path.join("..", "Cleaned","Person", "person_2001.csv")
person_2000 = os.path.join("..", "Cleaned","Person", "person_2000.csv")
person_1999 = os.path.join("..", "Cleaned","Person", "person_1999.csv")
person_1998 = os.path.join("..", "Cleaned","Person", "person_1998.csv")

# Vehicle
vehicle_2018 = os.path.join("..", "Cleaned","Vehicle", "2018_Vehicle.csv")
vehicle_2017 = os.path.join("..", "Cleaned","Vehicle", "2017_Vehicle.csv")
vehicle_2016 = os.path.join("..", "Cleaned","Vehicle", "2016_Vehicle.csv")
vehicle_2015 = os.path.join("..", "Cleaned","Vehicle", "2015_Vehicle.csv")
vehicle_2014 = os.path.join("..", "Cleaned","Vehicle", "2014_Vehicle.csv")
vehicle_2013 = os.path.join("..", "Cleaned","Vehicle", "2013_Vehicle.csv")
vehicle_2012 = os.path.join("..", "Cleaned","Vehicle", "2012_Vehicle.csv")
vehicle_2011 = os.path.join("..", "Cleaned","Vehicle", "2011_Vehicle.csv")
vehicle_2010 = os.path.join("..", "Cleaned","Vehicle", "2010_Vehicle.csv")
vehicle_2009 = os.path.join("..", "Cleaned","Vehicle", "2009_Vehicle.csv")
vehicle_2008 = os.path.join("..", "Cleaned","Vehicle", "2008_Vehicle.csv")
vehicle_2007 = os.path.join("..", "Cleaned","Vehicle", "2007_Vehicle.csv")
vehicle_2006 = os.path.join("..", "Cleaned","Vehicle", "2006_Vehicle.csv")
vehicle_2005 = os.path.join("..", "Cleaned","Vehicle", "2005_Vehicle.csv")
vehicle_2004 = os.path.join("..", "Cleaned","Vehicle", "2004_Vehicle.csv")
vehicle_2003 = os.path.join("..", "Cleaned","Vehicle", "2003_Vehicle.csv")
vehicle_2002 = os.path.join("..", "Cleaned","Vehicle", "2002_Vehicle.csv")
vehicle_2001 = os.path.join("..", "Cleaned","Vehicle", "2001_Vehicle.csv")
vehicle_2000 = os.path.join("..", "Cleaned","Vehicle", "2000_Vehicle.csv")
vehicle_1999 = os.path.join("..", "Cleaned","Vehicle", "1999_Vehicle.csv")
vehicle_1998 = os.path.join("..", "Cleaned","Vehicle", "1998_Vehicle.csv")

In [3]:
# Read imported files
# Accidents
accident_2018_df=pd.read_csv(accident_2018)
accident_2017_df=pd.read_csv(accident_2017)
accident_2016_df=pd.read_csv(accident_2016)
accident_2015_df=pd.read_csv(accident_2015)
accident_2014_df=pd.read_csv(accident_2014)
accident_2013_df=pd.read_csv(accident_2013)
accident_2012_df=pd.read_csv(accident_2012)
accident_2011_df=pd.read_csv(accident_2011)
accident_2010_df=pd.read_csv(accident_2010)
accident_2009_df=pd.read_csv(accident_2009)
accident_2008_df=pd.read_csv(accident_2008)
accident_2007_df=pd.read_csv(accident_2007)
accident_2006_df=pd.read_csv(accident_2006)
accident_2005_df=pd.read_csv(accident_2005)
accident_2004_df=pd.read_csv(accident_2004)
accident_2003_df=pd.read_csv(accident_2003)
accident_2002_df=pd.read_csv(accident_2002)
accident_2001_df=pd.read_csv(accident_2001)
accident_2000_df=pd.read_csv(accident_2000)
accident_1999_df=pd.read_csv(accident_1999)
accident_1998_df=pd.read_csv(accident_1998)

# Person
person_2018_df=pd.read_csv(person_2018)
person_2017_df=pd.read_csv(person_2017)
person_2016_df=pd.read_csv(person_2016)
person_2015_df=pd.read_csv(person_2015)
person_2014_df=pd.read_csv(person_2014)
person_2013_df=pd.read_csv(person_2013)
person_2012_df=pd.read_csv(person_2012)
person_2011_df=pd.read_csv(person_2011)
person_2010_df=pd.read_csv(person_2010)
person_2009_df=pd.read_csv(person_2009)
person_2008_df=pd.read_csv(person_2008)
person_2007_df=pd.read_csv(person_2007)
person_2006_df=pd.read_csv(person_2006)
person_2005_df=pd.read_csv(person_2005)
person_2004_df=pd.read_csv(person_2004)
person_2003_df=pd.read_csv(person_2003)
person_2002_df=pd.read_csv(person_2002)
person_2001_df=pd.read_csv(person_2001)
person_2000_df=pd.read_csv(person_2000)
person_1999_df=pd.read_csv(person_1999)
person_1998_df=pd.read_csv(person_1998)

# Vehicle
vehicle_2018_df=pd.read_csv(vehicle_2018)
vehicle_2017_df=pd.read_csv(vehicle_2017)
vehicle_2016_df=pd.read_csv(vehicle_2016)
vehicle_2015_df=pd.read_csv(vehicle_2015)
vehicle_2014_df=pd.read_csv(vehicle_2014)
vehicle_2013_df=pd.read_csv(vehicle_2013)
vehicle_2012_df=pd.read_csv(vehicle_2012)
vehicle_2011_df=pd.read_csv(vehicle_2011)
vehicle_2010_df=pd.read_csv(vehicle_2010)
vehicle_2009_df=pd.read_csv(vehicle_2009)
vehicle_2008_df=pd.read_csv(vehicle_2008)
vehicle_2007_df=pd.read_csv(vehicle_2007)
vehicle_2006_df=pd.read_csv(vehicle_2006)
vehicle_2005_df=pd.read_csv(vehicle_2005)
vehicle_2004_df=pd.read_csv(vehicle_2004)
vehicle_2003_df=pd.read_csv(vehicle_2003)
vehicle_2002_df=pd.read_csv(vehicle_2002)
vehicle_2001_df=pd.read_csv(vehicle_2001)
vehicle_2000_df=pd.read_csv(vehicle_2000)
vehicle_1999_df=pd.read_csv(vehicle_1999)
vehicle_1998_df=pd.read_csv(vehicle_1998)

In [4]:
# Make an array of dfs
df_2018 = [accident_2018_df, person_2018_df, vehicle_2018_df]
df_2017 = [accident_2017_df, person_2017_df, vehicle_2017_df]
df_2016 = [accident_2016_df, person_2016_df, vehicle_2016_df]
df_2015 = [accident_2015_df, person_2015_df, vehicle_2015_df]
df_2014 = [accident_2014_df, person_2014_df, vehicle_2014_df]
df_2013 = [accident_2013_df, person_2013_df, vehicle_2013_df]
df_2012 = [accident_2012_df, person_2012_df, vehicle_2012_df]
df_2011 = [accident_2011_df, person_2011_df, vehicle_2011_df]
df_2010 = [accident_2010_df, person_2010_df, vehicle_2010_df]
df_2009 = [accident_2009_df, person_2009_df, vehicle_2009_df]
df_2008 = [accident_2008_df, person_2008_df, vehicle_2008_df]
df_2007 = [accident_2007_df, person_2007_df, vehicle_2007_df]
df_2006 = [accident_2006_df, person_2006_df, vehicle_2006_df]
df_2005 = [accident_2005_df, person_2005_df, vehicle_2005_df]
df_2004 = [accident_2004_df, person_2004_df, vehicle_2004_df]
df_2003 = [accident_2003_df, person_2003_df, vehicle_2003_df]
df_2002 = [accident_2002_df, person_2002_df, vehicle_2002_df]
df_2001 = [accident_2001_df, person_2001_df, vehicle_2001_df]
df_2000 = [accident_2000_df, person_2000_df, vehicle_2000_df]
df_1999 = [accident_1999_df, person_1999_df, vehicle_1999_df]
df_1998 = [accident_1998_df, person_1998_df, vehicle_1998_df]

In [6]:
# Merge the three data frames using the lambda function
df_2018_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2018)
df_2017_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2017)
df_2016_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2016)
df_2015_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2015)
df_2014_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2014)
df_2013_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2013)
df_2012_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2012)
df_2011_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2011)
df_2010_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2010)
df_2009_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2009)
df_2008_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2008)
df_2007_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2007)
df_2006_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2006)
df_2005_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2005)
df_2004_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2004)
df_2003_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2003)
df_2002_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2002)
df_2001_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2001)
df_2000_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_2000)
df_1999_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_1999)
df_1998_merged = reduce(lambda  left,right: pd.merge(left,right,on=['ST_CASE'], how='inner'), df_1998)

In [7]:
df_2018_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2017_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2016_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2015_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2014_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2013_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2012_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2011_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2010_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2009_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2008_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2007_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2006_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2005_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2004_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2003_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2002_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2001_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_2000_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_1999_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)
df_1998_merged.drop_duplicates(subset ="ST_CASE", keep = False, inplace = True)

In [8]:
df_2001_merged

,COUNTY,MONTH,DAY,HOUR,MINUTE,PERSONS,ROAD_FNC,ROUTE,REL_JUNC,TRAF_FLO,...,REST_USE,INJ_SEV,DRINKING,DRUGS,PER_TYP,TRAV_SP,PREV_ACC,PREV_DWI,PREV_SPD,Year
0,259,1,6,22,19,1,1,1,1,3,...,0,4,1,8,1,98,0.0,0.0,0.0,2001
17,215,1,21,23,29,1,16,5,1,1,...,5,4,8,8,1,98,1.0,0.0,1.0,2001
29,19,2,4,16,40,1,4,3,1,1,...,0,4,8,8,1,98,2.0,0.0,0.0,2001
34,201,2,11,16,40,1,16,5,1,1,...,0,4,8,8,1,98,0.0,0.0,0.0,2001
37,185,2,18,17,10,1,4,8,1,1,...,99,4,8,8,1,98,0.0,0.0,0.0,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,439,5,13,18,32,1,16,5,3,1,...,5,4,8,8,1,98,0.0,0.0,0.0,2001
443,257,6,17,16,30,1,4,8,1,1,...,0,4,8,8,1,98,1.0,0.0,0.0,2001
448,113,3,25,17,19,1,11,1,13,2,...,0,4,8,8,1,98,1.0,0.0,0.0,2001
452,29,9,8,22,20,1,11,7,13,4,...,0,4,8,8,1,98,0.0,0.0,0.0,2001
459,441,10,20,22,0,1,11,1,1,2,...,0,4,8,8,1,98,1.0,0.0,0.0,2001

In [9]:
stacked_df = pd.concat([df_2018_merged, df_2017_merged, df_2016_merged, df_2015_merged, df_2014_merged, df_2013_merged, df_2012_merged, df_2011_merged, df_2010_merged, df_2009_merged, df_2008_merged, df_2007_merged, df_2006_merged, df_2005_merged, df_2004_merged, df_2003_merged, df_2002_merged, df_2001_merged, df_2000_merged, df_1999_merged, df_1998_merged], axis=0, sort=False)

In [10]:
stacked_df

,ST_CASE,PERSONS,COUNTY,CITY,DAY,MONTH,YEAR,DAY_WEEK,HOUR,MINUTE,...,ALIGNMNT,PROFILE,PAVE_TYP,SUR_COND,TRA_CONT,T_CONT_F,HIT_RUN,C_M_ZONE,latitude,longitud
13,480077,1,21,0,9,1,2018,3,16,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,480093,1,439,260,10,1,2018,4,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,480094,1,439,2450,10,1,2018,4,13,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,480108,1,201,3280,12,1,2018,6,19,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,480176,1,59,0,21,1,2018,1,22,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,482989,1,439,260,28,12,1998,2,16,45,...,2.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
297,483002,1,215,4197,6,8,1998,5,21,44,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN
298,483021,1,85,5730,29,10,1998,5,0,5,...,2.0,1.0,1.0,1.0,40.0,3.0,0.0,0.0,NaN,NaN
299,483022,1,257,0,1,11,1998,1,0,35,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN
302,483068,1,141,2190,19,12,1998,7,21,28,...,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN

In [12]:
# write stacked df to csv file 
stacked_df.to_csv('../Cleaned/MASTER_no_dup_merged.csv')